html {
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	border: 0;
	padding: 0;
	margin: 0;
	font-weight: 500;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background: rgba(0, 0, 0, 0.9);
}

header {
	display: flex;
	width: 100%;
	background: rgb(248, 221, 60);
	justify-content: space-around;
	font-size: 2rem;
	flex-wrap: nowrap;
	color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 680px) {
	header {
		font-size: 1.5rem;
	}
}

.boxes {
	width: 560px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10vh;
}

.box {
	opacity: 0.8;
	width: 40%;
	height: 25vh;
	margin: 0.2rem;
	border-radius: 1rem;
	background: black;
	transition-duration: opacity 0.5s, box-shadow 0.2s, transform 1s;
}

#box_red {
	background: rgb(199, 33, 3);
}

#box_blue {
	background: dodgerblue;
}

#box_yellow {
	background: rgb(212, 209, 7);
}

#box_green {
	background: rgb(5, 146, 5);
}

.box_press,
.box:active {
	transform: scale(1.05);
	opacity: 1;
	z-index: 1;
	box-shadow: 0 0 20px grey;
}

.start {
	font-size: 3rem;
	padding: 0.5rem 3rem;
	border-radius: 1rem;
	background: rgb(248, 221, 60);
	transition: all 0s;
}

.start:active {
	transform: scale(1.03);
	opacity: 1;
	z-index: 1;
	box-shadow: 0 0 20px grey;
}

/* modal system */
#modal_overlay,
#modal_loading {
	z-index: 1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	font-size: 3rem;
	background: rgba(9, 47, 78, 0.3);
}

.modal_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 460px;
	height: 260px;
	border-radius: 3px;
	font-size: 3rem;
	background: rgba(0, 0, 0, 0.9);
	color: whitesmoke;
}

#modal_button {
	font-size: 2rem;
	margin: 1rem;
	padding: 0.5rem 2rem;
	border-radius: 2rem;
	background: rgb(248, 221, 60);
	transition: transform 0.1s, box-shadow 0s;
}

#modal_button:hover {
	transform: scale(1.05);
	box-shadow: 0 0 5px gray;
}

.disable {
	opacity: 0.4;
}

.hide {
	visibility: hidden;
}
